{% extends 'base.html' %}

{% block title %}About Shift Helper{% endblock %}

{% block content %}

    <div class="about-shift-helper">

    <h2>About Shift Helper</h2>

        <ul>
            <li>What is Shift Helper? <span style="color: #036400"> Shift Helper is a light-weight and free solution
            that aims to help hospitals more easily post and request open shifts. Anybody of your choosing is able to log in
            to the application and post open shifts in their department, as well as review and accept staff's request for
            those shifts. On the other side, staff is able to access the app in a read-only manner where they can review
            the open shifts and make a request for that shift if they're interested that the shift owner can review.</span></li>

            <li>Who would benefit from Shift Helper? <span style="color: #036400"> Shift Helper was designed as a very light-weight
            solution that is meant for hospitals that aren't currently paying for a full scheduling/staffing solution that
            would do this kind of thing. With this pandemic-driven staffing shortage, we were wanting to quickly come up
            with a solution that might help hospitals that are currently doing this in long email threads, over-complicated
            Excel workbooks or any highly manual process.</span> </li>

            <li>Why use Shift Helper? <span style="color:#036400"> This was already kind of touched on above, but
            Shift Helper can hopefully help relieve some complexities when trying to get open shifts filled. The set-up time
            is next to nothing, and it's a very simple form to add an open shift and a couple clicks for the staff to request
            that shift. Additionally, this will help provide visibility to staff that are taking a lot of the open shifts
            which might warrant them getting additional praise for them trying to help with the staffing shortage ☺️.</span></li>

            <li>How do you use Shift Helper? <span style="color:#036400">Getting started and using Shift Helper should
                be extremely easy! We have a <a href="https://shift-helper.herokuapp.com/signup">signup page</a>
                that you need to fill out for your hospital or department. While doing so, you'll want to keep track of
                your admin and staff login. The Admin Login can be shared with other coworkers that will be needing to
                post and review open shifts. The Staff Login can be shared with everybody, however direct links to your
                hospital's open shifts can also be shared since the page is just read-only for those applicable pages.
                From there, you are good to start using the application and having your "Admin" users adding open shifts
                and letting your staff know they can review and request those shifts! The last piece of the workflow is
                for the Shift Owner to review the shift's requests and approve the request that makes the most sense for
                the shift, which is usually probably the first request.</span></li>
        </ul>

    <p>If you have any questions or feedback, don't hesitate to reach out to
        <a href="mailto:jakegoodman2412@gmail.com">Jake Goodman</a>! </p>



    </div>

{% endblock %}
