{% extends 'base.html' %}

{% block title %}Remove Shift{% endblock %}

{% block content %}
     <form class="remove-shift-form" action="{{ url_for('remove_shift') }}" method="POST">
         <p>Area: {{shift.area}}</p>
         <p>Role Needed: {{shift.role}}</p>
         <p>Date: {{shift.date}}</p>
         <p>Start Time: {{shift.start_time}}</p>
         <p>End Time: {{shift.end_time}}</p>
         <input hidden="hidden" name="id" value="{{shift.shift_id}}">
             <p style="color:red;">Click Remove Shift below if you're sure you want to remove this shift</p>
            <button class="btn btn-primary" type="submit">Remove Shift</button>
    </form>
    <script type="text/javascript">

    </script>
{% endblock %}
