{% extends 'base.html' %}

{% block title %}Request Details{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1> {{ current_user.hospital_name }} Request Details</h1>

	  <table id="data" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Requestor Name</th>
                <th>Requestor Comments</th>
                <th>Request Date</th>
                <th>Approve Request</th>
            </tr>
        </thead>
          <tbody>
              {% for row in requests %}
                  <tr>
                      <td><a href="mailto:{{ row.requested_by_email }}">{{ row.requested_by_name }}</a></td>
                      <td>{{ row.comments }}</td>
                      <td>{{ row.create_dt_tm }}</td>
                      <td><a href="{{ url_for('approve_request', id=row.transaction_id) }}">Approve Request</a></td>
                  </tr>
              {% endfor %}
          </tbody>
  	  </table>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}
