{% extends 'base.html' %}

{% block title %}Shift History{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>{{ hospital.hospital_name }} Shift History</h1>

	  <table id="data" class="table table-striped table-sm table-bordered">
        <thead>
            <tr>
                <th>Picked up by</th>
                <th>Role</th>
                <th>Hospital Area</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Shift Contact</th>
            </tr>
        </thead>
          <tbody>
              {% for row in shifts %}
                  <tr>
                      <td><a href="mailto:{{ row.picked_up_by }}">{{ row.picked_up_by}}</a></td>
                      <td>{{ row.role }}</td>
                      <td>{{ row.area }}</td>
                      <td>{{ row.date }}</td>
                      <td>{{ row.start_time }}</td>
                      <td>{{ row.end_time }}</td>
                      <td><a href="mailto:{{ row.contact_email }}">{{ row.contact_name}}</a></td>
                  </tr>
              {% endfor %}
          </tbody>
  	  </table>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}
